<main>
  <div class="row justify-content-center">
    <div class="col-12">
      <h4>Research Gap</h4>
      <p>
        Numerous methods have been suggested and examined in the literature for
        the detection and classification of brain tumors to expand the
        possibilities of treatment and the endurance of the patients. The
        majority of the studies have focused more on binary-model
        classification, with less attention paid to multi-model classification.
        In literature for classification, we have not seen any article in which
        they have shown results on the datasets that haven't used in training.
        We have created a platform that has enhanced the decision-making and
        precision of medical professionals when diagnosing brain tumors managing
        brain tumor segmentation and multi-class estimation.
      </p>
    </div>

    <div class="col-12">
      <h4>Our Contribution</h4>
      <p>
        We have carried out our research in light of multiple research studies
        based on multi-class models and have achieved good accuracy for the
        datasets which we haven't used in training. This project aimed to
        develop a model to classify types of brain tumors using deep learning
        techniques. We have explored & used various:-
      </p>
      <ul class="">
        <li>Image processing</li>
        <li>Image segmentation</li>
        <li>Feature extraction</li>
        <li>Deep Learning techniques</li>
      </ul>

      <p>
        to come up with a more usable dataset that produces higher accuracy.
      </p>
    </div>
  </div>
</main>
