<main>
  <div class="row justify-content-center">
    <div class="col-12">
      <h4>Research Gap</h4>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, eos
        vitae! Voluptatum saepe harum cum alias velit, hic laboriosam soluta
        placeat, accusamus, sapiente quia cupiditate? Facilis architecto eveniet
        dicta, nisi quia dolorem eius ipsam, dignissimos tempora accusamus
        consectetur aliquid. Modi delectus quos expedita magnam quisquam sint
        debitis tempore ducimus deleniti.
      </p>
    </div>

    <div class="col-12">
      <h4>Our Contribution</h4>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, eos
        vitae! Voluptatum saepe harum cum alias velit, hic laboriosam soluta
        placeat, accusamus, sapiente quia cupiditate? Facilis architecto eveniet
        dicta, nisi quia dolorem eius ipsam, dignissimos tempora accusamus
        consectetur aliquid. Modi delectus quos expedita magnam quisquam sint
        debitis tempore ducimus deleniti. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam rerum rem quibusdam a doloribus in libero explicabo eum officia ex repudiandae voluptate accusamus labore quam esse fugiat aspernatur, dolorem repellendus ipsa earum natus. Modi veniam dolor amet exercitationem voluptas laudantium, eaque magnam nam hic unde ullam temporibus, soluta, dicta suscipit illo. Labore, fuga? Iure repellat ducimus excepturi maxime eligendi debitis voluptas, tempore placeat? Suscipit autem dignissimos at laborum vero libero similique provident nostrum recusandae voluptatem ab eum accusamus laboriosam quibusdam architecto, itaque, pariatur eaque facere rerum fuga nesciunt! Possimus numquam sunt, neque eveniet perferendis maxime velit pariatur? Obcaecati, dolores repellat?
      </p>
    </div>
  </div>
</main>
