<main>
  <div class="row justify-content-center">
    <div class="col-3">
      <p>
        Majority of the studies have focused more on binary-model
        classification, with less attention paid towards multi-class
        classification
      </p>
    </div>

    <div class="col-3">
      <p>
        Creating a platform to enhance the decision-making and precision of
        medical professionals when diagnosing brain tumors that can manage its
        segmentation, and multi-class estimation.
      </p>
    </div>

    <div class="col-3">
      <p>
        We have carried out our research in light of multiple research studies
        based on multi-class models and we haved used 2 datasets (dataset
        Links)having 4 classes; no tumor, meningioma, glioma and pituitary.
      </p>
    </div>
  </div>
</main>
